/*
article > header > h2 {
  text-align: center;
  background-color: burlywood;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
}

#firstHeader {
  text-align: center;
  background-color: burlywood;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
}
#footerHeader {
  text-align: center;
  background-color: aquamarine;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
}
*/
.common-font {
  font-family: "Courier New", Courier, monospace;
}
.header-style {
  text-align: center;
  background-color: burlywood;
  border-radius: 5px;
}
.footer-style {
  text-align: center;
  background-color: aquamarine;
  border-radius: 5px;
}
